.advantages-section {
    background-color: $primary-green;
  }
  
  .advantages-list {
    display: flex;
    gap: 22px;
  
    @media screen and (max-width: 767px) {
      flex-direction: column;
    }
    // @include tablet {
    //   flex-wrap: wrap;
    //   justify-content: center;
    // }
  }
  .advantages-item {
    width: 100%;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    align-items: center;
    // @include tablet {
    //   width: calc((100% - 30px) / 2);
    // }
    // @include desktop {
    //   width: calc((100% - 90px) / 4);
    // }
  }
 .advantages-icon{
    display: flex;
    height: 50px;
    width: 50px;
    background-color: $primary-yellow;
    border-radius: 50px;
    margin-bottom: 16px;
 }
  .advantages-label {
    display: block;
    margin-bottom: 16px;
    text-align: center;
    color: $primary-light;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    font-family: $font-montserrat;
    font-style: normal;
    font-weight: 700;
    
    @media screen and (max-width: 767px) {
      text-align: center;
    }
  }
  
  .advantages-text {
    font-size: 12px;
    line-height: 1.7;
    text-align: center;
    color: $primary-light;
    font-family: $font-montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 170%;
  }
//   .services__help-bottom {
//       position: relative;
//   }
  
//   .services__help-bottom::before {
//     content: '';
//     display: block;
//     width: 50px;
//     height: 50px;
//     border-radius: 50%;
//     background: yellow;
//     position: absolute;
//     top:-50px;
//     left:50%;
//   }