ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.contacts {
  position: relative;
  background-image: linear-gradient(
    to top,
    $primary-green 71%,
    transparent 0
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 502px;
  margin: 0 auto;
  padding-bottom: 20px;

  @include tablet {
    background-image: linear-gradient(
      to top,
      $primary-green 48%,
      transparent 0
    );
    padding-bottom: 40px;
  }
  @include desktop {
    background-image: linear-gradient(
      to top,
      $primary-green 80%,
      transparent 0
    );
    padding-bottom: 60px;
  }
}

.contacts-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contacts-card-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;

  @include tablet {
   flex-direction: row;
  }
  @include desktop {
    flex-direction: row;
    flex-basis: calc((100% - 64px) / 3);
    gap: 32px;
  }
}

.contacts-card-item {
  border-radius: 24px;
  border: 1px solid $grey-divider;
  background-color: #FFFFFF;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  text-align: start;
  padding: 40px 32px 24px 32px;
  height: auto;
  width: 280px;

  @include tablet {
    padding: 40px 24px;
    max-width: 224px;
  }

  @include desktop {
    border-radius: 24px;
    border: 1px solid $grey-divider;
    background-color: #FFFFFF;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    text-align: start;
    padding: 40px;
    min-width: 368px;
  }
}

.contacts-title {
  text-transform: uppercase;
  color: $primary-dark;
  background-color: $primary-yellow;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 500;
  line-height: calc(14 / 12);
  letter-spacing: 0.04em;
  border: none;
  min-width: 80px;
  height: 22px;
  padding: 4px 22px;
  margin-bottom: 20px;

  @include tablet {
    border-radius: 6px;
    font-size: 16px;
    line-height: calc(22 / 16);
    min-width: 73px;
    padding: 4px 13px;
  }

  @include desktop {
    text-transform: uppercase;
    color: $primary-dark;
    background-color: $primary-yellow;
    border-radius: 6px;
    font-size: 16px;
    line-height: calc(22 / 16);
    min-width: 76px;
    height: 30px;
    padding: 4px 14px;
    margin-bottom: 32px;
  }
}

.truck {
  @include tablet {
    min-width: 138px;
    padding: 4px 10px;
  }
}

.contacts-city {
  font-weight: 500;
  font-size: 12px;
  line-height: calc(22 / 12);
  letter-spacing: 0.04em;
  color: $primary-dark;
  margin-bottom: 8px;

  @include tablet {
    font-size: 14px;
    line-height: calc(26 / 14);
  }
  @include desktop {
    font-size: 16px;
    line-height: calc(30 / 16);
  }
}

.contacts-map-link {
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  line-height: calc(22 / 12);
  letter-spacing: 0.04em;
  color: $primary-whiskey;

  @include tablet {
    font-size: 14px;
    line-height: calc(26 / 14);
  }
  @include desktop {
    font-size: 16px;
    line-height: calc(29 / 16);
  }
}

.contacts-line {
  border-bottom: 1px solid $grey-divider;

  @include desktop {
    border-bottom: 1px solid $grey-divider;
  }
}

.contacts-line:nth-child(3) {
  margin-top: 32px;
  margin-bottom: 32px;

  @include desktop {
    margin-top: 32px;
    margin-bottom: 32px;
  }
}

.contacts-map {
  margin-bottom: 30px;

  @include desktop {
    margin-bottom: 30px;
  }
}

.contacts-schedule-item:last-child {
  margin-bottom: 32px;

  @include desktop {
    margin-bottom: 32px;
  }
}

.contacts-days {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(22 / 12);
  color: $primary-dark;

  @include tablet {
    font-size: 14px;
    line-height: calc(26 / 14);
  }
  @include desktop {
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.04em;
  }
}

.contacts-hours {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(22 / 12);
  color: #ABABAB;

  @include tablet {
    font-size: 14px;
    line-height: calc(26 / 14);
  }
  @include desktop {
    font-size: 16px;
    line-height: calc(30 / 16);
  }
}

.contacts-hours:first-child {
  margin-bottom: 8px;

  @include desktop {
    margin-bottom: 12px;
  }
}

.contacts-communication-item {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(19 / 12);

  @include tablet {
    font-size: 14px;
    line-height: calc(21 / 16);
  }
  @include desktop {
    font-size: 16px;
    line-height: calc(24 / 16);
  }
}

.contacts-tel, .contacts-mail {
  color: $primary-dark;

  @include desktop {
    color: $primary-dark;
  }
}


.contacts-communication-item:first-child {
  margin-bottom: 6px;

  @include tablet {
    margin-bottom: 4px;
  }
  @include desktop {
    margin-bottom: 4px;
  }
}
