//   <-- Кнопки -->

.contacts-button {
  padding-top: 20px;
  padding-bottom: 60px;
  background-color: $primary-green;
}

.button-list {
  display: block;
  text-align: center;
  gap: 16px;

  @include tablet {
    display: flex;
    justify-content: center;
  }
}

.button-location {
  width: 196px;
  height: 42px;
  border: none;
  border-radius: 10px;
  background: $primary-yellow;
  color: $primary-dark;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  margin-bottom: 16px;

  @include tablet {
    margin-bottom: 0;
  }
}

.button-franchise {
  width: 196px;
  height: 42px;
  border: 1px solid $primary-yellow;
  border-radius: 10px;
  background: $primary-green;
  color: $primary-dark;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
}

.button-location:hover,
.button-location:focus {
  background-color: $green-hover;
}

.button-location:focus {
  color: $primary-light;
}

.button-location:disabled {
  color: $primary-grey;
}

.button-franchise:hover,
.button-franchise:focus {
  border: 1px solid $green-hover;
}

.button-franchise:focus {
  color: $primary-light;
}

.button-franchise:disabled {
  border: 1px solid $primary-grey;
}

//  <-- Модальные окна -->

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(48, 48, 48, 0.563);
  transition: opacity 300ms linear, visibility 300ms linear;
}

.modal-location {
  width: 280px;
  min-height: 365px;
  background-color: $primary-light;
  border-radius: 10px;
  border: 1px solid $primary-yellow;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 300ms linear;
}

.backdrop.is-hidden .modal-location {
  transform: translate(-50%, -50%) scale(0);
}

.modal__close {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 12px;
  top: 12px;
  display: flex;
  text-align: center;
  align-items: center;
  background-color: transparent;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-franchise {
  width: 280px;
  min-height: 674px;
  background-color: $primary-light;
  border-radius: 10px;
  border: 1px solid $primary-yellow;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 300ms linear;
}

.backdrop.is-hidden .modal-franchise {
  transform: translate(-50%, -50%) scale(0);
}
