//   <-- Кнопка -->

.button {
  padding-top: 20px;
  padding-bottom: 60px;
  background-color: #84a178;
}

.button-list {
  text-align: center;
  align-items: center;
  gap: 16px;

  @include tablet {
    display: flex;
  }
}

.button-location {
  width: 196px;
  height: 42px;
  border: none;
  border-radius: 10px;
  background: #f8d24e;
  color: #131313;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
}

.button-franchise {
  width: 196px;
  height: 42px;
  border: 1px solid #f8d24e;
  border-radius: 10px;
  background: #84a178;
  color: #131313;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
}

.button-location:hover {
  background-color: #0a8817;
}

.button-location:focus {
  background-color: #0a8817;
  color: #ffffff;
}

.button-location:disabled {
  color: #ababab;
}

.button-franchise:hover {
  border: 1px solid #0a8817;
}

.button-franchise:focus {
  border: 1px solid #0a8817;
  color: #ffffff;
}

.button-franchise:disabled {
  border: 1px solid #ababab;
}

//  <-- Модальное окно -->

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(48, 48, 48, 0.563);
}

.modal-location {
  width: 280px;
  min-height: 365px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #f8d24e;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal__close {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 12px;
  top: 12px;
  display: flex;
  text-align: center;
  align-items: center;
  background-color: transparent;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-franchise {
  width: 280px;
  min-height: 674px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #f8d24e;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
