.nav-list {
  display: flex;
  column-gap: 50px;
  font-weight: 500;
  font-size: 14px;
  list-style-type: none;
}

.nav-button {
  display: none;
}

.nav-link {
  color: #000;
}

.nav-link.active {
  color: #606060;
}

.header {
  padding-top: 46px;
  background-color: #F1F1F1;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 60px;
}

.logo {
  position: relative;
  padding: 0 12px 3px 0;
  font-weight: 700;
  font-size: 32px;
  line-height: 1;
  color: #000;
}

.logo::after {
  position: absolute;
  right: 0;
  bottom: 0;

  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background-color: #FDA300;
  border-radius: 50%;
}

.header-row {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
}

.header-content {
  margin-top: 124px;
  max-width: 500px;
  line-height: 75px;
}

.header-heading {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 44px;
}

.header-content p {
  line-height: 2;
}
