.footer-main{
    background-color: $primary-green;
    padding-top:30px;
    @include tablet {
    padding-top: 20px;
  }
  @include desktop {
    padding-top: 60px;
  }
}
.footer-company-info {
   @include tablet {
        margin-bottom: 48px;
    }
    @include desktop {
        margin-bottom: 60px;
    } 
}
.slogan-container {
    width:280px;

    @include tablet {
        width: 352px;
    }
    @include desktop {
        width: auto;
    }
}
.footer-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.2;
    text-transform: uppercase;
    color: $primary-light;

    @include tablet {
        font-size: 26px;
        letter-spacing: 0.04em;
    }
    @include desktop {
        font-size: 30px;
    }
}
.footer-title-span {
    display: block;
    margin-top: 16px;
    margin-bottom: 60px;
    font-size: 34px;
    letter-spacing: 0.04em;
    color: $primary-light;

    @include tablet {
        margin-top: 8px;
        margin-bottom: 32px;
        font-size: 48px;
        letter-spacing: 0.06em;
    }
    @include desktop {
        margin-top: 14px;
        margin-bottom: 0;
        font-size: 58px;
        line-height: calc(71 / 58);
    }
}
.ftr-contacts {
    text-align: right;

    @include tablet {
        margin-left:auto;
    }
   
}
.footer-social-list{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;

    @include tablet {
        margin-bottom: 34px;
    }
    @include desktop {
        margin-bottom: 40px;
    }
}

.footer-company-info {
    @include tablet {
        display: flex;
        align-items: center;
    }
}

.footer-social-item {
    border-radius: 50%;
    background-color: $primary-yellow;
    
    &:not(:last-child) {
        margin-right: 20px;
    }
}
.footer-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width:34px;
    height: 34px;
    fill: $primary-green;
}
.footer-contact-tel {
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.8;
    color: $primary-dark;

    @include tablet {
        margin-bottom: 0;
        font-size: 14px;
    }
    @include desktop {
        font-size: 16px;
    }
}
.footer-tel-number {
    color: $primary-light;
}
.footer-copyright {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    border-top: 1px solid $grey-divider;

    @include tablet {
        padding: 12px;
    }
    @include desktop {
        width: calc(100% - 2 * 16px);
    }
}
.footer-rights {
    width:280px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    color: $dark-grey;

    @include tablet {
        width: auto;
        line-height: 1.8;
        letter-spacing: 0.02em;
    }
    @include desktop {
        font-size: 12px;;
    }
}