.gallery {
  background-image: url(../images/body/background-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  @include retina {
    background-image: url(../images/body/background-mobile-2x.jpg);
  }

  @include tablet {
    background-image: url(../images/body/background-tablet.jpg);
    padding-left: 32px;
    padding-right: 32px;
    @include retina {
      background-image: url(../images/body/background-tablet-2x.jpg);
    }
  }
  @include desktop {
    background-image: url(../images/body/background-desktop.jpg);
    padding-left: 90px;
    padding-right: 90px;
    @include retina {
      background-image: url(../images/body/background-desktop-2x.jpg);
    }
  }
}

.gallery-item {
  list-style-type: none;
}

.gallery-list {
  padding-left: 90px;
  padding-right: 90px;
}

.gallery-img {
  position: absolute;
  border-radius: 24px;
  max-width: 100%;
  max-height: 422px;

  left: 50%;
  top: 50%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-animation: imagesFading 6s infinite;
  -moz-animation: imagesFading 6s infinite;
  -o-animation: imagesFading 6s infinite;
  animation: imagesFading 6s infinite;
}

.first-img {
  background-image: url(../images/gallery/gallery-first-mob-1x.jpg);
  animation-delay: 4s;
  @include retina {
    background-image: url(../images/gallery/gallery-first-mob-2x.jpg);
  }

  @include tablet {
    background-image: url(../images/gallery/gallery-first-tab-1x.jpg);
    @include retina {
      background-image: url(../images/gallery/gallery-first-tab-2x.jpg);
    }
  }

  @include desktop {
    background-image: url(../images/gallery/gallery-first-des-1x.jpg);
    max-width: 1013px;
    @include retina {
      background-image: url(../images/gallery/gallery-first-des-2x.jpg);
    }
  }
}

.second-img {
  background-image: url(../images/gallery/gallery-second-mob-1x.jpg);
  animation-delay: 2s;
  @include retina {
    background-image: url(../images/gallery/gallery-second-mob-2x.jpg);
  }


  @include tablet {
    background-image: url(../images/gallery/gallery-second-tab-1x.jpg);
    @include retina {
      background-image: url(../images/gallery/gallery-second-tab-2x.jpg);
    }
  }

  @include desktop {
    background-image: url(../images/gallery/gallery-second-des-1x.jpg);
    max-width: 1013px;
    @include retina {
      background-image: url(../images/gallery/gallery-second-des-2x.jpg);
    }
  }
}

.third-img {
  background-image: url(../images/gallery/gallery-third-mob-1x.jpg);
  animation-delay: 0s;
  @include retina {
    background-image: url(../images/gallery/gallery-third-mob-2x.jpg);
  }

  @include tablet {
    background-image: url(../images/gallery/gallery-third-tab-1x.jpg);
    @include retina {
      background-image: url(../images/gallery/gallery-third-tab-2x.jpg);
    }
  }

  @include desktop {
    background-image: url(../images/gallery/gallery-third-des-1x.jpg);
    max-width: 1013px;
    @include retina {
      background-image: url(../images/gallery/gallery-third-des-2x.jpg);
    }
  }
}

@keyframes imagesFading {
  0% {
    opacity:1;
  }
  25% {
    opacity:1;
  }
  50% {
    opacity:0;
  }
  90% {
    opacity:0;
  }
}
