.gallery {
  background-image: linear-gradient(
    to bottom,
    $primary-green 40%,
    transparent 0
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 502px;
  margin: 0 auto;
  @include tablet {
    min-height: 387px;
  }
  @include desktop {
    min-height: 162px;
  }
}

.gallery-item {
  list-style-type: none;
}

.gallery-img {
  position: absolute;
  max-width: 280px;
  border-radius: 24px;
  max-height: 422px;
  left: 50%;
  top: 50%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-animation: imagesFading 6s infinite;
  -moz-animation: imagesFading 6s infinite;
  -o-animation: imagesFading 6s infinite;
  animation: imagesFading 6s infinite;

  @include tablet {
    max-width: 704px;
  }
  @include desktop {
    max-width: 1013px;
  }
}

.first-img {
  animation-delay: 4s;
}

.second-img {
  animation-delay: 2s;
}

.third-img {
  animation-delay: 0s;
}

@keyframes imagesFading {
  0% {
    opacity:1;
  }
  25% {
    opacity:1;
  }
  50% {
    opacity:0;
  }
  90% {
    opacity:0;
  }
}
