.about {
  padding-top: 60px;
  padding-bottom: 50px;
  background-color: $primary-green;
  @include tablet {
    padding-bottom: 82px;
  }
}
.about-uptitle {
  text-align: center;
  color: $primary-light;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 12px;
  @include tablet {
    font-size: 22px;
    letter-spacing: 0.04em;
  }
  @include desktop {
    font-size: 30px;
  }
}
.about-title {
  font-family: $font-seymour;
  color: $primary-light;
  font-size: 30px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 32px;
  @include tablet {
    margin-bottom: 72px;
    font-size: 34px;
    letter-spacing: 0.06em;
  }
  @include desktop {
    margin-bottom: 82px;
    font-size: 36px;
  }
}
.about-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  @include tablet {
    flex-direction: row;
    text-align: inherit;
  }
}
.about-decorative-circle {
  position: relative;
  width: 279px;
  height: 279px;
  margin-bottom: 62px;
  background: linear-gradient(
      0deg,
      rgba(248, 210, 78, 0.7),
      rgba(248, 210, 78, 0.7)
    ),
    $light-grey;
  box-shadow: 0px 4.48583px 16.8218px rgba(153, 114, 23, 0.25);
  border-radius: 50%;
  @include tablet {
    width: 330px;
    height: 330px;
    margin-bottom: 0;
  }
  @include desktop {
    width: 490px;
    height: 490px;
  }
}
.about-decorative-img {
  position: absolute;
  width: 279px;
  height: 279px;
  top: 22px;
  border-radius: 50%;
  background-size: cover;
  background-image: url(../images/about/about-cow-mobile.jpg);
  @include retina {
    background-image: url(../images/about/about-cow-mobile-2x.jpg);
  }
  background-repeat: no-repeat;
  @include tablet {
    width: 330px;
    height: 330px;
    background-image: url(../images/about/about-cow-tablet.jpg);
    @include retina {
      background-image: url(../images/about/about-cow-tablet-2x.jpg);
    }
  }
  @include desktop {
    width: 490px;
    height: 490px;
    background-image: url(../images/about/about-cow-desktop.jpg);
    @include retina {
      background-image: url(../images/about/about-cow-desktop-2x.jpg);
    }
  }
}
.about-wrap {
  @media screen and (max-width: 767px) {
    padding-left: 30px;
    padding-right: 30px;
  }
  @include tablet {
    width: 336px;
    margin-left: 38px;
  }
  @include desktop {
    width: 463px;
    margin-left: 109px;
  }
}
.about-text {
  color: $primary-light;
  font-size: 12px;
  line-height: 1.8;
  letter-spacing: 0.04em;
  @include desktop {
    font-size: 16px;
  }
}
.about-text-first {
  @include mobile {
    margin-bottom: 4px;
  }
}
.about-text-second {
  @include mobile {
    margin-bottom: 10px;
  }
}
.about-text-first,
.about-text-second {
  @include tablet {
    margin-bottom: 8px;
  }
}
.about-text-last {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @include tablet {
    margin-bottom: 32px;
  }
  @include desktop {
    margin-bottom: 54px;
  }
}
.about-button-open {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 164px;
  border-radius: 10px;
  padding: 12px 34px;
  margin: 0 auto;
  border: 0;
  color: $primary-dark;
  background-color: $primary-yellow;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28;
  transition: all .5s ease;
  @include tablet {
    margin: 0;
  }
  &:hover,
  &:focus {
    background-color: $green-hover;
  }
  &:focus {
    color: $primary-light;
  }
  &:disabled {
    background-color: $primary-grey;
  }
}
.about-icon {
  margin-left: 4px;
  fill: currentColor;
}

/* ---------------- about-modal ---------------- */

.about-modal {
  min-height: 459px;
  text-align: center;
  padding: 28px;

  @include tablet {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 430px;
  }
}
.backdrop.is-hidden .about-modal {
  transform: translate(-50%, -50%) scale(0);
}
.about-modal-title {
  text-align: center;
  font-family: $font-seymour;
  color: $primary-dark;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;

  @include tablet {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 32px;
  }
}

.about-modal-video {
  border-radius: 10px;
  margin-bottom: 20px;
  @include tablet {
    width: 448px;
    height: 205px;
    margin-bottom: 32px;
  }
}

.about-modal-text {
  font-size: 14px;
  line-height: 1.4;
  color: $primary-dark;
  text-align: start;
  @include tablet {
      font-size: 16px;
    }
}