.products {
    padding-top: 60px;
    padding-bottom: 60px;
}
.products-label {
display: block;
margin-bottom: 12px;

font-weight: 800;
font-size: 18px;
line-height: calc(22 / 18);

text-align: center;
text-transform: uppercase;
color: $primary-dark;

@include tablet {
font-size: 22px;
line-height: calc(27 / 22);
}

@include desktop {
    font-size: 30px;
    line-height: calc(37 / 30);
    letter-spacing: 0.04em;   
}
}

.products-title {
margin-bottom: 40px;

font-family: $font-seymour;
font-weight: 400;
font-size: 30px;
line-height: calc(38 / 30);
text-align: center;
letter-spacing: 0.04em;
text-transform: uppercase;
color: $primary-dark;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

@include tablet {
font-size: 34px;
line-height: calc(43 / 34);
}
@include desktop {
font-size: 36px;
line-height: calc(45 / 36);
letter-spacing: 0.06em;  
}
}
.products-kards {
display: flex;
justify-content: center;
flex-wrap: wrap;
position: relative;
gap: 60px;
margin: 0;
padding: 0;
}
.products-ellipse {
display: block;
position: relative;   
}

.products-wrapper {
display: block;
position: relative;
width: 280px;
height: 420px;
background: $green-bg;
border-radius: 24px;

&::before {
    content: '';
    position: absolute;
    width: 200px;
    height: 200px;
    left: 50%;
    top: -20%;
    transform: translateX(-50%);
    // background-image: linear-gradient(#ffff66, #ffff66), linear-gradient(cornflowerblue, cornflowerblue);
    background-size: 95% var(--h);
    background-position: left 0.75em, right 1em;
    background-repeat: no-repeat;
    z-index: 1;
    border-radius: 50%;


background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #D9D9D9;
box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
    }
}

.cofee {
background: $yellow-bg;   
&::before {
content: '';
background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
}
}
.milkshakes {
background: $primary-whiskey; 
&::before {
content: ''; 
background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #D9D9D9;
box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25); 
}
}


.products-kards-title {
margin-bottom: 40px;

font-weight: 700;
font-size: 20px;
line-height: calc(24 / 20);
text-align: center;
letter-spacing: 0.04em;
text-transform: uppercase;

color: $primary-dark;
}
.products-kards-about {
font-weight: 400;
font-size: 14px;
line-height: calc(25 / 14);   
text-align: center;
letter-spacing: 0.04em;
    
color: $primary-dark;   
}

.products-button {
display: flex; 
justify-content: center;
cursor: pointer; 
padding: 0%;
background-color: transparent;
border: none;
margin: auto;
}
.products-modal-open {
fill: currentColor;
}
