.products {
    padding-top: 60px;
    padding-bottom: 60px;
}
.products-label {
display: block;
margin-bottom: 12px;

font-weight: 800;
font-size: 18px;
line-height: calc(22 / 18);

text-align: center;
text-transform: uppercase;
color: $primary-dark;

@include tablet {
font-size: 22px;
line-height: calc(27 / 22);
}

@include desktop {
    font-size: 30px;
    line-height: calc(37 / 30);
    letter-spacing: 0.04em;   
}
}

.products-title {
margin-bottom: 40px;

font-family: $font-seymour;
font-weight: 400;
font-size: 30px;
line-height: calc(38 / 30);
text-align: center;
letter-spacing: 0.04em;
text-transform: uppercase;
color: $primary-dark;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

@include tablet {
font-size: 34px;
line-height: calc(43 / 34);
}
@include desktop {
font-size: 36px;
line-height: calc(45 / 36);
letter-spacing: 0.06em;  
}
}
.products-kards {
display: flex;
justify-content: center;
flex-wrap: wrap;
gap: 60px;
margin: 0;
padding: 0;
}
.products-wrapper {
display: block;
position: relative;
width: 280px;;
height: 420px;
background: $green-bg;
border-radius: 24px;
}
.cofee {
background: $yellow-bg;   
    }
.milkshakes {
background: $primary-whiskey;   
}
.products-kards-title {
margin-bottom: 40px;

font-weight: 700;
font-size: 20px;
line-height: calc(24 / 20);
text-align: center;
letter-spacing: 0.04em;
text-transform: uppercase;

color: $primary-dark;
}
.products-kards-about {
font-weight: 400;
font-size: 14px;
line-height: calc(25 / 14);   
text-align: center;
letter-spacing: 0.04em;
    
color: $primary-dark;   
}

.products-button {
display: flex; 
justify-content: center;
cursor: pointer; 
padding: 0%;
background-color: transparent;
border: none;
margin: auto;
}
.products-modal-open {
fill: currentColor;
}
// це не може бути в лі - перенести то в інший дів - картинка виходить за межі 
