.products-backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms linear, visibility 250ms linear;
}

.products-is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.products-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms linear;
  width: 280px;
  background-color: $primary-light;
  border: 2px solid $primary-yellow;
  border-radius: 10px;
  padding: 28px 20px;
  @include desktop {
    width: 568px;
    padding: 32px 40px;
  }
}

.products-backdrop.products-is-hidden .products-modal {
  transform: translate(-50%, -50%) scale(0);
}

.products-modal-close {
  padding: 0;
  position: absolute;
  top: 12px;
  right: 12px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  @include desktop {
    width: 24px;
    height: 24px;
  }
}

.products-modal-title {
  font-family: $font-seymour;
  font-style: normal;
  font-weight: 400px;
  font-size: 20px;
  line-height: calc(28 / 20);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: $primary-dark;
  margin-bottom: 20px;
  @include desktop {
    margin-bottom: 24px;
  }
}

.icon-wrap {
  margin-left: auto;
  margin-right: auto;
  width: 132px;
  height: 139px;
  position: relative;
  margin-bottom: 22px;
  @include desktop {
    margin-bottom: 24px;
  }
}

.products-modal-icon {
  margin-bottom: auto;
  position: absolute;
  height: 132px;
  width: 132px;
  top: 0px;
  left: 50%;
  border-radius: 50%;
  transform: translateX(-50%);
  background: linear-gradient(
      0deg,
      rgba(156, 190, 143, 0.7),
      rgba(156, 190, 143, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
}

.products-modal-icon::before {
  content: '';
  position: absolute;
  width: 132px;
  height: 132px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  left: 50%;
  top: -4%;
  transform: translateX(-50%);
  background-image: url(../images/products_modal/ice_cream_mob.jpeg);
  @include retina {
    background-image: url(../images/products_modal/ice_cream_mobX2.jpeg);
  }
}

.products-modal-icon2 {
  margin-bottom: auto;
  position: absolute;
  height: 132px;
  width: 132px;
  top: 0px;
  left: 50%;
  border-radius: 50%;
  transform: translateX(-50%);
  background: linear-gradient(
      0deg,
      rgba(156, 190, 143, 0.7),
      rgba(156, 190, 143, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
}

.products-modal-icon2::before {
  content: '';
  position: absolute;
  width: 132px;
  height: 132px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  left: 50%;
  top: -4%;
  transform: translateX(-50%);
  background-image: url(../images/products_modal/ice_coffee_mob.jpeg);
  @include retina {
    background-image: url(../images/products_modal/ice_coffee_mobX2.jpeg);
  }
}

.products-modal-icon3 {
  margin-bottom: auto;
  position: absolute;
  height: 132px;
  width: 132px;
  top: 0px;
  left: 50%;
  border-radius: 50%;
  transform: translateX(-50%);
  background: linear-gradient(
      0deg,
      rgba(156, 190, 143, 0.7),
      rgba(156, 190, 143, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
}

.products-modal-icon3::before {
  content: '';
  position: absolute;
  width: 132px;
  height: 132px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  left: 50%;
  top: -4%;
  transform: translateX(-50%);
  background-image: url(../images/products_modal/milkshake_mob.jpeg);
  @include retina {
    background-image: url(../images/products_modal/milkshake_mobX2.jpeg);
  }
}

.products-list {
  display: flex;
  gap: 9px;
  justify-content: center;
  margin-bottom: 40px;
  @include desktop {
    gap: 20px;
  }
}

.products-link {
  width: 53px;
  height: 72px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  font-family: $font-montserrat;
  font-size: 10px;
  line-height: calc(12 / 10);
  border: 2px solid $green-circle;
  border-radius: 40px;
  @include desktop {
    width: 65px;
    height: 90px;
    font-size: 12px;
    line-height: calc(15 / 12);
  }
}

.products-number {
  width: 43px;
  height: 43px;
  font-weight: 500;
  font-size: 10px;
  line-height: calc(28 / 10);
  background-color: $green-circle;
  margin-bottom: 8px;
  border-radius: 50%;
  box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);
  display: grid;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  @include desktop {
    width: 53px;
    height: 53px;
    margin-bottom: 6px;
    font-size: 12px;
    line-height: calc(28 / 12);
  }
}

.products-modal-section {
  margin-bottom: 40px;
}

.modal-section-title {
  display: block;
  text-align: center;
  margin-bottom: 24px;
  font-family: $font-montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: calc(28 / 20);
  color: $primary-dark;
}

.modal-section-link {
  display: flex;
  justify-content: space-between;
  font-family: $font-montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.76;
  letter-spacing: 0.04em;
  color: $primary-dark;
}

.modal-section-link:not(:last-child) {
  margin-bottom: 11px;
}

.modal-form {
  text-align: center;
}

.modal-input {
  width: 100%;
  max-width: 240px;
  height: 42px;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid $primary-green;
  border-radius: 10px;
  font-family: $font-montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: $primary-dark;
  margin-bottom: 16px;
  @include desktop {
    max-width: 368px;
  }
}

.modal-comment {
  width: 100%;
  height: 84px;
  resize: none;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid $primary-green;
  border-radius: 10px;
  font-family: $font-montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: $primary-dark;
  margin-bottom: 24px;
  @include desktop {
    max-width: 368px;
    margin-bottom: 32px;
  }
}

.modal-btn {
  margin: 0 auto;
  display: block;
  width: 132px;
  height: 42px;
  background: $primary-yellow;
  border-radius: 10px;
  font-family: $font-montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: calc(17 / 14);
  color: $primary-dark;
}
