/*---------FONTS--------*/
/*---------COLORS--------*/
/*---main---*/
/*---buttons---*/
/*---forms---*/
/*---Tablet & mobile menu background---*/
/*---buy now modal---*/
/*---products section backgrounds---*/
/*----Retina---*/
@import '~node_modules/modern-normalize/modern-normalize.css';
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

button {
  border-width: 0px;
  cursor: pointer;
}

input {
  cursor: pointer;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #131313;
  background-color: #fcfcfc;
  background-image: url("../images/body/background-mobile.jpg");
  background-repeat: repeat;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  body {
    background-image: url("../images/body/background-mobile-2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  body {
    background-image: url(../images/body/background-tablet.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  body {
    background-image: url("../images/body/background-tablet-2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  body {
    background-image: url(../images/body/background-desktop.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  body {
    background-image: url("../images/body/background-desktop-2x.jpg");
  }
}
.container {
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding: 0 16px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  word-wrap: normal !important;
  clip-path: inset(50%);
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  overflow: hidden;
}

.button {
  padding-top: 20px;
  padding-bottom: 60px;
  background-color: #84a178;
}

.button-list {
  text-align: center;
  align-items: center;
  gap: 16px;
}
@media screen and (min-width: 768px) {
  .button-list {
    display: flex;
  }
}

.button-location {
  width: 196px;
  height: 42px;
  border: none;
  border-radius: 10px;
  background: #f8d24e;
  color: #131313;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
}

.button-franchise {
  width: 196px;
  height: 42px;
  border: 1px solid #f8d24e;
  border-radius: 10px;
  background: #84a178;
  color: #131313;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
}

.button-location:hover {
  background-color: #0a8817;
}

.button-location:focus {
  background-color: #0a8817;
  color: #ffffff;
}

.button-location:disabled {
  color: #ababab;
}

.button-franchise:hover {
  border: 1px solid #0a8817;
}

.button-franchise:focus {
  border: 1px solid #0a8817;
  color: #ffffff;
}

.button-franchise:disabled {
  border: 1px solid #ababab;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(48, 48, 48, 0.563);
}

.modal-location {
  width: 280px;
  min-height: 365px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #f8d24e;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal__close {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 12px;
  top: 12px;
  display: flex;
  text-align: center;
  align-items: center;
  background-color: transparent;
}

.footer-main {
  background-color: #84a178;
}

.slogan-container {
  width: 280px;
}
@media screen and (min-width: 768px) {
  .slogan-container {
    width: 352px;
  }
}

.footer-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #fcfcfc;
}
@media screen and (min-width: 768px) {
  .footer-title {
    font-size: 26px;
    letter-spacing: 0.04em;
  }
}

.footer-title-span {
  display: block;
  margin-top: 16px;
  margin-bottom: 60px;
  font-size: 34px;
  letter-spacing: 0.04em;
  color: #fcfcfc;
}
@media screen and (min-width: 768px) {
  .footer-title-span {
    margin-top: 8px;
    margin-bottom: 32px;
    font-size: 48px;
    letter-spacing: 0.06em;
  }
}

.contacts {
  text-align: right;
}
@media screen and (min-width: 768px) {
  .contacts {
    margin-left: auto;
  }
}

.footer-social-list {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .footer-social-list {
    margin-bottom: 34px;
  }
}

@media screen and (min-width: 768px) {
  .footer-company-info {
    display: flex;
    align-items: center;
  }
}

.footer-social-item {
  border-radius: 50%;
  background-color: #f8d24e;
}
.footer-social-item:not(:last-child) {
  margin-right: 20px;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  fill: #84a178;
}

.footer-contact-tel {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.8;
  color: #131313;
}
@media screen and (min-width: 768px) {
  .footer-contact-tel {
    margin-bottom: 0;
    font-size: 14px;
  }
}

.footer-tel-number {
  color: #fcfcfc;
}

.footer-copyright {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 20px;
  border-top: 1px solid #e1e1e1;
}
@media screen and (min-width: 768px) {
  .footer-copyright {
    padding: 12px;
  }
}

.footer-rights {
  width: 280px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  color: #7a7a7a;
}
@media screen and (min-width: 768px) {
  .footer-rights {
    width: auto;
    line-height: 1.8;
    letter-spacing: 0.02em;
  }
}/*# sourceMappingURL=index.css.map */