/*---------FONTS--------*/
/*---------COLORS--------*/
/*---main---*/
/*---buttons---*/
/*---forms---*/
/*---Tablet & mobile menu background---*/
/*---buy now modal---*/
/*---products section backgrounds---*/
@import '~node_modules/modern-normalize/modern-normalize.css';
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

button {
  border-width: 0px;
  cursor: pointer;
}

input {
  cursor: pointer;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #131313;
  background-color: #fcfcfc;
  background-image: url("../images/body/background-mobile.jpg");
  background-repeat: repeat;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  body {
    background-image: url("../images/body/background-mobile-2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  body {
    background-image: url(../images/body/background-tablet.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  body {
    background-image: url("../images/body/background-tablet-2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  body {
    background-image: url(../images/body/background-desktop.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  body {
    background-image: url("../images/body/background-desktop-2x.jpg");
  }
}
.container {
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding: 0 16px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  word-wrap: normal !important;
  clip-path: inset(50%);
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  overflow: hidden;
}

.products {
  padding-top: 60px;
  padding-bottom: 60px;
}

.products-label {
  display: block;
  margin-bottom: 12px;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2222222222;
  text-align: center;
  text-transform: uppercase;
  color: #131313;
}
@media screen and (min-width: 768px) {
  .products-label {
    font-size: 22px;
    line-height: 1.2272727273;
  }
}
@media screen and (min-width: 1200px) {
  .products-label {
    font-size: 30px;
    line-height: 1.2333333333;
    letter-spacing: 0.04em;
  }
}

.products-title {
  margin-bottom: 40px;
  font-family: "Seymour One", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2666666667;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #131313;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 768px) {
  .products-title {
    font-size: 34px;
    line-height: 1.2647058824;
  }
}
@media screen and (min-width: 1200px) {
  .products-title {
    font-size: 36px;
    line-height: 1.25;
    letter-spacing: 0.06em;
  }
}

.products-kards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px;
  margin: 0;
  padding: 0;
}

.products-wrapper {
  display: block;
  position: relative;
  width: 280px;
  height: 420px;
  background: #aec6a5;
  border-radius: 24px;
}

.cofee {
  background: #efd478;
}

.milkshakes {
  background: #d6936d;
}

.products-kards-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #131313;
}

.products-kards-about {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7857142857;
  text-align: center;
  letter-spacing: 0.04em;
  color: #131313;
}

.products-button {
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding: 0%;
  background-color: transparent;
  border: none;
  margin: auto;
}

.products-modal-open {
  fill: currentColor;
}/*# sourceMappingURL=index.css.map */