<section class="advantages-section section">
  <div class="advantages-container container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantages-list list">
      <li class="advantages-item cow-icon">
        <p class="advantages-point _anim-items first">
          <span class="advantages-label">721</span>
          <span class="advantages-text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</span
          >
        </p>
      </li>
      <li class="advantages-item dumbbell-icon">
        <p class="advantages-point _anim-items second">
          <span class="advantages-label">16kg</span>
          <span class="advantages-text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</span
          >
        </p>
      </li>

      <li class="advantages-item icecream-icon">
        <p class="advantages-point _anim-items third">
          <span class="advantages-label">84</span>
          <span class="advantages-text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</span
          >
        </p>
      </li>
    </ul>
  </div>
</section>
