<section class="advantages-section section">
  <div class="advantages-container container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantages-list list">
      <li class="advantages-item">
        <div class="advantages-icon"></div>
          <span class="advantages-label">721</span>
          <p class="advantages-text">
            Aliquam ac dui vel dui vulputaпte consectetur. Mauris massa.
          </p>
      </li>
      <li class="advantages-item">
        <div class="advantages-icon"></div>
          <span class="advantages-label">16kg</span>
          <p class="advantages-text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
      </li>

      <li class="advantages-item">
        <div class="advantages-icon"></div>
          <span class="advantages-label">84</span>
          <p class="advantages-text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
      </li>
    </ul>
  </div>
</section>
