<section class="section contacts">
  <div class="container contacts-container">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="contacts-card-list">
      <li class="contacts-card-item">
        <div class="contacts-card-wrap">
          <button class="contacts-title" type="button" disabled>CAFE</button>
          <p class="contacts-city">Chicago</p>
          <address class="contacts-address">
            <a
              class="contacts-map"
              href="https://goo.gl/maps/mMj8kzU4C7HfBx6v8"
              target="_blank"
              rel="noopener noreferrer"
            >
              10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA
            </a>
          </address>

          <hr class="contacts-line"/>

          <ul class="contacts-schedule-list">
            <li class="contacts-schedule-item">
              <p class="contacts-days">Monday - Friday</p>
            </li>
            <li class="contacts-schedule-item">
              <p class="contacts-hours">06:00 AM - 10:00 PM</p>
            </li>
            <li class="contacts-schedule-item">
              <p class="contacts-days">Saturday - Sunday</p>
            </li>
            <li class="contacts-schedule-item">
              <p class="contacts-hours">08:00 AM - 16:00 PM</p>
            </li>
          </ul>

          <hr class="contacts-line" />

          <address class="contacts-address">
            <ul class="contacts-communication-list">
              <li class="contacts-communication-item">
                <a class="contacts-tel" href="tel:+610383766284">
                  +61(0) 383 766 284
                </a>
              </li>
              <li class="contacts-communication-item">
                <a class="contacts-mail" href="mailto:noreply@envato.com">
                  noreply@envato.com
                </a>
              </li>
            </ul>
          </address>
        </div>

      </li>

      <!-- <li></li>
      <li></li> -->
    </ul>
  </div>
</section>
