<div class="contacts-button">
      <ul class="button-list list">
        <li>
          <button type="button" class="button-location contacts-btn" aria-label="Check locations" data-location-open>
            Our Locations<svg class="button__icon" width="5" height="10">
              <use class="button__svg" href="./images/icons.svg#icon-arrow-right-btn"></use>
            </svg>
          </button>
        </li>
        <li>
          <button type="button" class="button-franchise contacts-btn" aria-label="Open Franchise form" data-franchise-open>
            Franchise<svg class="button__icon" width="5" height="10">
              <use class="button__svg" href="./images/icons.svg#icon-arrow-right-btn"></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>
  <!-- Модальные окна -->
  <div class="backdrop is-hidden" data-location>
    <div class="modal-location modal-general">
      <button type="button" class="modal__close"  aria-label="Close modal window" data-location-close>
        <svg class="modal__close-icon" width="11.11" height="11.14">
          <use href="./images/icons.svg#icon-close"></use>
        </svg>
      </button>
      <h3 class="modal__title">Our Locations</h3>
      <picture>
        <source
            srcset="./images/contacts/map-mobile.jpg 1x, ./images/contacts/map-mobile-2x.jpg 2x"
            media="(max-width: 767px)" sizes="(max-width: 767px) 767px, 100vw"
          />
          <source
            srcset="./images/contacts/map-desktop.jpg 1x, ./images/contacts/map-desktop-2x.jpg 2x"
            media="(min-width: 768px)" sizes="(min-width: 768px) 768px, 100vw"
          />
          <img
            src="./images/contacts/map-mobile.jpg"
            class="locations-map-img"
            alt="Our company locations"
          />
        </picture>
      <a
        href="https://www.google.com/maps/place/Полтава,+Полтавская+область,+Украина,+36000/@49.6061119,34.5134379,12.78z/data=!4m5!3m4!1s0x40d825e425e6ba6b:0xcf3e6bdfb9e4ca82!8m2!3d49.588267!4d34.5514169"
        class="location__google link"
        target="_blank"
        rel="noopener noreferre nofollow"
        >Open map</a
      >
    </div>
  </div>
  <div class="backdrop is-hidden" data-franchise>
    <div class="modal-franchise modal-general">
      <button type="button" class="modal__close" aria-label="Close modal window" data-franchise-close>
        <svg class="modal__close-icon" width="20" height="20">
          <use href="./images/icons.svg#icon-cross"></use>
        </svg>
      </button>
      <h3 class="modal__title">
        Thank you for your interest in owning an Ice Cream shop
      </h3>
      <p class="modal__text">
        Due to the overwhelming volume of franchise requests we are not
        accepting new franchisee applications at this time. Once the application
        process resumes, we will contact you for further information. Please
        fill out the contact information below and we will reach out for
        additional information. We appreciate your patience.
      </p>
      <form class="modal-form">
          <div class="input-wrap">
            <input
              type="text"
              name="user-name"
              class="form-input modal-input icecream-modal-input"
              id="user-name"
              placeholder="Name"
              required
              pattern="[A-Za-z0-9]+"
            />
          </div>
          <div class="input-wrap">
            <input
              type="tel"
              name="user-tel"
              class="form-input modal-input icecream-modal-input"
              id="user-tel"
              placeholder="Phone"
              pattern="[0-9]+"
              required
            />
          </div>
          <div class="input-wrap">
            <input
              type="mail"
              name="user-mail"
              class="form-input modal-input icecream-modal-input"
              id="user-mail"
              placeholder="Email"
              pattern="/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/"
              required
            />
          </div>
          <textarea
            name="user-comment"
            id="user-comment"
            class="form-input modal-comment icecream-modal-input"
            placeholder="Comment"
          ></textarea>
        <button type="submit" class="modal-btn">Submit</button>
      </form>
    </div>
  </div>
</div>
