<section>
  <ul class="address-list list">
    <li class="address-item">
      <span class="address-title">Cafe</span>
      <h3 class="address-text">Chicago</h3>
      <a
        href="https://goo.gl/maps/VHagASmWYXijD52L8"
        target="_blank"
        rel="noopener noreferrer nofollow"
        class="address-link"
        >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
      >
      <div class="line"></div>
      <div class="week">
        <div class="week-gpoup">
          <p class="week-title">Monday - Friday</p>
          <time class="week-text">08:00 AM - 16:00 PM</time>
        </div>
        <div class="week-group">
          <p class="week-title">Saturday - Sunday</p>
          <time class="week-text">08:00 AM - 16:00 PM</time>
        </div>
        <div class="line"></div>
      </div>
      <ul class="contact">
        <li class="contact-item">
          <a href="tel:+61(0) 383 766 284" class="contact-link"
            >+61(0) 383 766 284</a
          >
        </li>
        <li class="contact-item">
          <a href="mailto:noreply@envato.com" class="contact-link"
            >noreply@envato.com</a
          >
        </li>
      </ul>
    </li>
    <li class="address-item">
      <span class="address-title">Food truck</span>
      <h3 class="address-text">Los Angeles</h3>
      <a
        href="https://goo.gl/maps/13vo9LdrMdtSLwwa7"
        target="_blank"
        rel="noopener noreferrer nofollow"
        class="address-link"
        >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
      >
      <div class="line"></div>
      <div class="week">
        <div class="week-gpoup">
          <p class="week-title">Monday - Friday</p>
          <time class="week-text">08:00 AM - 16:00 PM</time>
        </div>
        <div class="week-group">
          <p class="week-title">Saturday - Sunday</p>
          <time class="week-text">08:00 AM - 16:00 PM</time>
        </div>
        <div class="line"></div>
      </div>
      <ul class="contact">
        <li class="contact-item">
          <a href="tel:+61(0) 383 766 284" class="contact-link"
            >+61(0) 383 766 284</a
          >
        </li>
        <li class="contact-item">
          <a href="mailto:noreply@envato.com" class="contact-link"
            >noreply@envato.com</a
          >
        </li>
      </ul>
    </li>
    <li class="address-item">
      <span class="address-title">Cafe</span>
      <h3 class="address-text">New York</h3>
      <a
        href="https://goo.gl/maps/vAF7rRvvWjoSbXTv8"
        target="_blank"
        rel="noopener noreferrer nofollow"
        class="address-link"
        >726 Sterling Pl, Brooklyn, NY 11222, USA</a
      >
      <div class="line"></div>
      <div class="week">
        <div class="week-gpoup">
          <p class="week-title">Monday - Friday</p>
          <time class="week-text">08:00 AM - 16:00 PM</time>
        </div>
        <div class="week-group">
          <p class="week-title">Saturday - Sunday</p>
          <time class="week-text">08:00 AM - 16:00 PM</time>
        </div>
        <div class="line"></div>
      </div>
      <ul class="contact">
        <li class="contact-item">
          <a href="tel:+61(0) 383 766 284" class="contact-link"
            >+61(0) 383 766 284</a
          >
        </li>
        <li class="contact-item">
          <a href="mailto:noreply@envato.com" class="contact-link"
            >noreply@envato.com</a
          >
        </li>
      </ul>
    </li>
  </ul>
</section>
