<section id="contacts" class="section contacts">
  <div class="container contacts-container">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="contacts-card-list list">
      <li class="contacts-card-item">
        <p class="contacts-title">cafe</p>
        <div class="contacts-line">
          <p class="contacts-city">Chicago</p>
          <address class="contacts-map">
            <a
              class="contacts-map-link"
              href="https://goo.gl/maps/mMj8kzU4C7HfBx6v8"
              target="_blank"
              rel="noindex nofollow noopener noreferrer"
            >
              10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA
            </a>
          </address>
        </div>
        <div class="contacts-line">
          <ul class="contacts-schedule-list list">
            <li class="contacts-schedule-item">
              <p class="contacts-days">Monday - Friday</p>
              <p class="contacts-hours">06:00 AM - 10:00 PM</p>
            </li>
            <li class="contacts-schedule-item">
              <p class="contacts-days">Saturday - Sunday</p>
              <p class="contacts-hours">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
        </div>
        <address class="contacts-address">
          <ul class="contacts-communication-list list">
            <li class="contacts-communication-item">
              <a class="contacts-tel" href="tel:+610383766284">
                +61(0) 383 766 284
              </a>
            </li>
            <li class="contacts-communication-item">
              <a class="contacts-mail" href="mailto:noreply@envato.com">
                noreply@envato.com
              </a>
            </li>
          </ul>
        </address>
      </li>
      <li class="contacts-card-item">
        <p class="contacts-title">food truck</p>
        <div class="contacts-line">
          <p class="contacts-city">Los Angeles</p>
          <address class="contacts-map">
            <a
              class="contacts-map-link"
              href="https://goo.gl/maps/DvCBE9j2K1C4aLsd8"
              target="_blank"
              rel="noindex nofollow noopener noreferrer"
            >
              1003 Manhattan Ave, Manhattan Beach, CA 90263, USA
            </a>
          </address>
        </div>
        <div class="contacts-line">
          <ul class="contacts-schedule-list list">
              <li class="contacts-schedule-item">
                <p class="contacts-days">Monday - Friday</p>
                <p class="contacts-hours">06:00 AM - 10:00 PM</p>
              </li>
              <li class="contacts-schedule-item">
                <p class="contacts-days">Saturday - Sunday</p>
                <p class="contacts-hours">08:00 AM - 16:00 PM</p>
              </li>
          </ul>
        </div>
        <address class="contacts-address">
          <ul class="contacts-communication-list list">
            <li class="contacts-communication-item">
              <a class="contacts-tel" href="tel:+610383766284">
                +61(0) 383 766 284
              </a>
            </li>
            <li class="contacts-communication-item">
              <a class="contacts-mail" href="mailto:noreply@envato.com">
                noreply@envato.com
              </a>
            </li>
          </ul>
        </address>
      </li>
      <li class="contacts-card-item">
        <p class="contacts-title">cafe</p>
        <div class="contacts-line">
          <p class="contacts-city">New York</p>
          <address class="contacts-map">
            <a
              class="contacts-map-link"
              href="https://goo.gl/maps/p7saPiHqg1MHHpFDA"
              target="_blank"
              rel="noindex nofollow noopener noreferrer"
            >
              726 Sterling Pl, Brooklyn, NY 11222, USA
            </a>
          </address>
        </div>
        <div class="contacts-line">
          <ul class="contacts-schedule-list list">
            <li class="contacts-schedule-item">
              <p class="contacts-days">Monday - Friday</p>
              <p class="contacts-hours">06:00 AM - 10:00  PM</p>
            </li>
            <li class="contacts-schedule-item">
              <p class="contacts-days">Saturday - Sunday</p>
              <p class="contacts-hours">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
        </div>
        <address class="contacts-address">
          <ul class="contacts-communication-list list">
            <li class="contacts-communication-item">
              <a class="contacts-tel" href="tel:+610383766284">
                +61(0) 383 766 284
              </a>
            </li>
            <li class="contacts-communication-item">
              <a class="contacts-mail" href="mailto:noreply@envato.com">
                noreply@envato.com
              </a>
            </li>
          </ul>
        </address>
      </li>
    </ul>


    <!---------------LOCATION AND FRANCHISE--------------->
    <div class="contacts-button">
      <ul class="button-list list">
        <li>
          <button type="button" class="button-location contacts-btn button" aria-label="Check locations" data-location-open>
            Our Locations<svg class="button__icon" width="5" height="10">
              <use class="button__svg" href="./images/icons.svg#icon-arrow-right-btn"></use>
            </svg>
          </button>
        </li>
        <li>
          <button type="button" class="button-franchise contacts-btn" aria-label="Open Franchise form" data-franchise-open>
            Franchise<svg class="button__icon" width="5" height="10">
              <use class="button__svg" href="./images/icons.svg#icon-arrow-right-btn"></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>
</div>

  </div>
</section>
