<main>
  <section class="section developers">
    <div class="container developers-container">
      <h1 class="visually-hidden">Портфоліо</h1>
      <ul class="dev-list">
        <li class="dev-item">
          <a class="dev-link" href="#">
            <div class="dev-wrap">
              <img
                class="dev-img"
                src="./images/created-by/yana.png"
                alt=""
              />
              <p class="dev-text-top">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </p>
            </div>
            <div class="dev-text-wrap">
              <h2 class="dev-name">Yana</h2>
              <p class="dev-type">Team Lead</p>
            </div>
          </a>
        </li>
        <li class="dev-item">
          <a class="dev-link" href="#">
            <div class="dev-wrap">
              <img
                class="dev-img"
                src="./images/created-by/vitaliy.png"
                alt=""
              />
              <p class="dev-text-top">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </p>
            </div>
            <div class="dev-text-wrap">
              <h2 class="dev-name">Vitaliy</h2>
              <p class="dev-type">Customer Reviews</p>
            </div>
          </a>
        </li>
        <li class="dev-item">
          <a class="dev-link" href="#">
            <div class="dev-wrap">
              <img
                class="dev-img"
                src="./images/created-by/iryna.png"
                alt=""
              />
              <p class="dev-text-top">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </p>
            </div>
            <div class="dev-text-wrap">
              <h2 class="dev-name">Iryna</h2>
              <p class="dev-type">Gallery</p>
            </div>
          </a>
        </li>
        <li class="dev-item">
          <a class="dev-link" href="#">
            <div class="dev-wrap">
              <img
                class="dev-img"
                src="./images/created-by/bogdan.png"
                alt=""
              />
              <p class="dev-text-top">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </p>
            </div>
            <div class="dev-text-wrap">
              <h2 class="dev-name">Bogdan</h2>
              <p class="dev-type">Franchise and Locations(modal)</p>
            </div>
          </a>
        </li>
        <li class="dev-item">
          <a class="dev-link" href="#">
            <div class="dev-wrap">
              <img
                class="dev-img"
                src="./images/created-by/vadym.png"
                alt="Технокряк"
              />
              <p class="dev-text-top">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </p>
            </div>
            <div class="dev-text-wrap">
              <h2 class="dev-name">Vadym</h2>
              <p class="dev-type">Footer</p>
            </div>
          </a>
        </li>
        <li class="dev-item">
          <a class="dev-link" href="#">
            <div class="dev-wrap">
              <img
                class="dev-img"
                src="./images/created-by/natalia.png"
                alt="Технокряк"
              />
              <p class="dev-text-top">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </p>
            </div>
            <div class="dev-text-wrap">
              <h2 class="dev-name">Natalia</h2>
              <p class="dev-type">Hero</p>
            </div>
          </a>
        </li>
        <li class="dev-item">
          <a class="dev-link" href="#">
            <div class="dev-wrap">
              <img
                class="dev-img"
                src="./images/created-by/andrey.png"
                alt="Технокряк"
              />
              <p class="dev-text-top">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </p>
            </div>
            <div class="dev-text-wrap">
              <h2 class="dev-name">Andrey</h2>
              <p class="dev-type">Advantages</p>
            </div>
          </a>
        </li>
        <li class="dev-item">
          <a class="dev-link" href="#">
            <div class="dev-wrap">
              <img
                class="dev-img"
                src="./images/created-by/olena.png"
                alt="Технокряк"
              />
              <p class="dev-text-top">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </p>
            </div>
            <div class="dev-text-wrap">
              <h2 class="dev-name">Olena</h2>
              <p class="dev-type">Header + form Buy now </p>
            </div>
          </a>
        </li>
        <li class="dev-item">
          <a class="dev-link" href="#">
            <div class="dev-wrap">
              <img
                class="dev-img"
                src="./images/created-by/daniil.png"
                alt="Технокряк"
              />
              <p class="dev-text-top">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </p>
            </div>
            <div class="dev-text-wrap">
              <h2 class="dev-name">Даниил</h2>
              <p class="dev-type">Products: 3 modals</p>
            </div>
          </a>
        </li>
        <li class="dev-item">
          <a class="dev-link" href="#">
            <div class="dev-wrap">
              <img
                class="dev-img"
                src="./images/created-by/polina.png"
                alt="Технокряк"
              />
              <p class="dev-text-top">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </p>
            </div>
            <div class="dev-text-wrap">
              <h2 class="dev-name">Polina</h2>
              <p class="dev-type">Products</p>
            </div>
          </a>
        </li>
        <li class="dev-item">
          <a class="dev-link" href="#">
            <div class="dev-wrap">
              <img
                class="dev-img"
                src="./images/created-by/kirill.png"
                alt="Технокряк"
              />
              <p class="dev-text-top">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </p>
            </div>
            <div class="dev-text-wrap">
              <h2 class="dev-name">Kirill</h2>
              <p class="dev-type">How it's made + video modal</p>
            </div>
          </a>
        </li>
        <li class="dev-item">
          <a class="dev-link" href="#">
            <div class="dev-wrap">
              <img
                class="dev-img"
                src="./images/created-by/daria.png"
                alt="Технокряк"
              />
              <p class="dev-text-top">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </p>
            </div>
            <div class="dev-text-wrap">
              <h2 class="dev-name">Daria</h2>
              <p class="dev-type">Contacts</p>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </section>
</main>
