<section class="slider">
  <div class="container">
    <h2 class="visually-hidden">Our customers' review</h2>
    <div class="slider-wrapper">
      <div class="slider-list">
        <picture>
          <source
            srcset="
              ./images/customer-reviews/Emily-1.jpg    1x,
              ./images/customer-reviews/Emily-1@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <img
            class="slider-avatar"
            src="./images/customer-reviews/Emily-1.jpg"
            alt="Emily"
          />
        </picture>

        <p class="slider-text">
          <span class="slider-text-box"
            >I love visiting your cafe. You prepare the most delicious ice cream
            in Los Angeles! In addition, you have beautiful serving, cozy
            atmosphere and polite staff.</span
          >
        </p>
        <p class="slider-name">Emily, Los Angeles</p>
      </div>

      <div class="slider-list">
        <picture>
          <source
            srcset="
              ./images/customer-reviews/Bryan-2.jpg    1x,
              ./images/customer-reviews/Bryan-2@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <img
            class="slider-avatar"
            src="./images/customer-reviews/Bryan-2.jpg"
            alt="Bryan"
          />
        </picture>

        <p class="slider-text">
          <span class="slider-text-box"
            >Every day we come to you with friends after classes in college. We
            love your ice cream and casual atmosphere!</span
          >
        </p>
        <p class="slider-name">Bryan, New-York</p>
      </div>

      <div class="slider-list">
        <picture>
          <source
            srcset="
              ./images/customer-reviews/Diana-3.jpg    1x,
              ./images/customer-reviews/Diana-3@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <img
            class="slider-avatar"
            src="./images/customer-reviews/Diana-3.jpg"
            alt="Diana"
          />
        </picture>

        <p class="slider-text">
          <span class="slider-text-box"
            >Ice cream is my passion! I love your chocolate hazelnut ice cream!
            And I really like the excellent service - always served politely and
            quickly!</span
          >
        </p>
        <p class="slider-name">Diana, Chicago</p>
      </div>
    </div>
  </div>
</section>
