<header class="header">
  <div class="container">
     <!-- Header nav -->
     <div class="header-nav">
      <a class="logo" href="./images/na-fronte.png"
      ><span class="logo-web">na</span>Fronte</a
    >
      <nav id="nav" class="nav">
          <ul class="nav-list">
              <li class="nav-item"><a href="#!" class="nav-link active">Team</a></li>
              <li class="nav-item"><a href="#!" class="nav-link">Tasks</a></li>
              <li class="nav-item"><a href="#!" class="nav-link">User</a></li>
              <li class="nav-item"><a href="#!" class="nav-link">Benefit</a></li>
              <li class="nav-item"><a href="#!" class="nav-link">Stack</a></li>
          </ul>
      </nav>
  </div>
      <!-- Header content -->
      <div class="header-row">
          <div class="header-content" data-aos="fade-up">
              <h1 class="header-heading"><br><span>The best of developer's team</span></h1>
              <p>Creation of adaptive responsive websites on html css js stack
                Our motto - You can always do better</p>
          </div>

          <div class="header-img" data-aos="fade-left">

              <picture>
                  <source media="(max-width: 799px)" srcset="./images/dev/build.webp">
                  <img src="./images/dev/build.webp" alt="">
              </picture>
          </div>
      </div>
  </div>
</header>
