<section class="section user-section">
  <div class="container user-container">
    <div class="user-point">
      <h1 class="user-header">Який він - наш кліент?</h1>
      <ul class="user-list">
        <li class="user-item">Власник бізнесу</li>
        <li class="user-item">Уважний батько</li>
        <li class="user-item">Щасливий студент</li>
        <li class="user-item">Турботлива мати</li>
      </ul>
    </div>
    <div class="user-collage">
      <img
      class="user-image"
      src="./images/dev/collage.jpg"
      alt=" Фото участника команды"
    />
    </div>
  </div>
</section>
