<section id="dev-photo" class="section dev-photo">
  <div class="container dev-photo-container">
    <h1 class="visually-hidden">TEAM</h1>
    <ul class="dev-photo-list">
      <li class="dev-photo-item">
        <a class="dev-photo-link" href="#">
          <div class="dev-photo-wrap">
            <img
              class="dev-photo-img"
              src="./images/dev/yana.png"
              alt=" Фото участника команды"
            />
          </div>
          <div class="dev-photo-text-wrap">
            <h2 class="dev-photo-name">Yana</h2>
            <p class="dev-photo-type">Team Lead</p>
          </div>
        </a>
      </li>
      <li class="dev-photo-item">
        <a class="dev-photo-link" href="#">
          <div class="dev-photo-wrap">
            <img
              class="dev-photo-img"
              src="./images/dev/vitaliy.png"
              alt="Фото участника команды"
            />
          </div>
          <div class="dev-photo-text-wrap">
            <h2 class="dev-photo-name">Vitaliy</h2>
            <p class="dev-photo-type">Customer Reviews</p>
          </div>
        </a>
      </li>
      <li class="dev-photo-item">
        <a class="dev-photo-link" href="#">
          <div class="dev-photo-wrap">
            <img
              class="dev-photo-img"
              src="./images/dev/iryna.png"
              alt="Фото участника команды"
            />
          </div>
          <div class="dev-photo-text-wrap">
            <h2 class="dev-photo-name">Iryna</h2>
            <p class="dev-photo-type">Gallery</p>
          </div>
        </a>
      </li>
      <li class="dev-photo-item">
        <a class="dev-photo-link" href="#">
          <div class="dev-photo-wrap">
            <img
              class="dev-photo-img"
              src="./images/dev/bogdan.png"
              alt="Фото участника команды"
            />
          </div>
          <div class="dev-photo-text-wrap">
            <h2 class="dev-photo-name">Bogdan</h2>
            <p class="dev-photo-type">Franchise and Locations(modal)</p>
          </div>
        </a>
      </li>
      <li class="dev-photo-item">
        <a class="dev-photo-link" href="#">
          <div class="dev-photo-wrap">
            <img
              class="dev-photo-img"
              src="./images/dev/vadym.png"
              alt="Фото участника команды"
            />
          </div>
          <div class="dev-photo-text-wrap">
            <h2 class="dev-photo-name">Vadym</h2>
            <p class="dev-photo-type">Footer</p>
          </div>
        </a>
      </li>
      <li class="dev-photo-item">
        <a class="dev-photo-link" href="#">
          <div class="dev-photo-wrap">
            <img
              class="dev-photo-img"
              src="./images/dev/natalia.png"
              alt="Фото участника команды"
            />
          </div>
          <div class="dev-photo-text-wrap">
            <h2 class="dev-photo-name">Natalia</h2>
            <p class="dev-photo-type">Hero</p>
          </div>
        </a>
      </li>
      <li class="dev-photo-item">
        <a class="dev-photo-link" href="#">
          <div class="dev-photo-wrap">
            <img
              class="dev-photo-img"
              src="./images/dev/andrey.png"
              alt="Фото участника команды"
            />
          </div>
          <div class="dev-photo-text-wrap">
            <h2 class="dev-photo-name">Andrey</h2>
            <p class="dev-photo-type">Advantages</p>
          </div>
        </a>
      </li>
      <li class="dev-photo-item">
        <a class="dev-photo-link" href="#">
          <div class="dev-photo-wrap">
            <img
              class="dev-photo-img"
              src="./images/dev/olena.png"
              alt="Фото участника команды"
            />
          </div>
          <div class="dev-photo-text-wrap">
            <h2 class="dev-photo-name">Olena</h2>
            <p class="dev-photo-type">Header + form Buy now</p>
          </div>
        </a>
      </li>
      <li class="dev-photo-item">
        <a class="dev-photo-link" href="#">
          <div class="dev-photo-wrap">
            <img
              class="dev-photo-img"
              src="./images/dev/daniil.png"
              alt="Фото участника команды"
            />
          </div>
          <div class="dev-photo-text-wrap">
            <h2 class="dev-photo-name">Daniil</h2>
            <p class="dev-photo-type">Products: 3 modals</p>
          </div>
        </a>
      </li>
      <li class="dev-photo-item">
        <a class="dev-photo-link" href="#">
          <div class="dev-photo-wrap">
            <img
              class="dev-photo-img"
              src="./images/dev/polina.png"
              alt=" Фото участника команды"
            />
          </div>
          <div class="dev-photo-text-wrap">
            <h2 class="dev-photo-name">Polina</h2>
            <p class="dev-photo-type">Products</p>
          </div>
        </a>
      </li>
      <li class="dev-photo-item">
        <a class="dev-photo-link" href="#">
          <div class="dev-photo-wrap">
            <img
              class="dev-photo-img"
              src="./images/dev/kirill.png"
              alt=" Фото участника команды"
            />
          </div>
          <div class="dev-photo-text-wrap">
            <h2 class="dev-photo-name">Kirill</h2>
            <p class="dev-photo-type">How it's made + video modal</p>
          </div>
        </a>
      </li>
      <li class="dev-photo-item">
        <a class="dev-photo-link" href="#">
          <div class="dev-photo-wrap">
            <img
              class="dev-photo-img"
              src="./images/dev/daria.png"
              alt="Фото участника команды"
            />
          </div>
          <div class="dev-photo-text-wrap">
            <h2 class="dev-photo-name">Daria</h2>
            <p class="dev-photo-type">Contacts</p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
