<section id="dev-review" class="dev-slider">
  <div class="container dev-container">
    <h1 class="dev-slider-title">Our impressions of the project</h1>
    <div class="dev-slider-wrapper">
      <div class="dev-slider-list">
        <p class="dev-slider-text">
          <span class="dev-slider-text-box"
            >Я працювала над секцією Products.
            Мені завжди важко робити щось нове , що я раніше не втілювала в життя ,
            тому різнокольорові кружечки викликали відразу складнощі з позиціонуванням ,
             а також фотки треба було по т.з робити через псевдоелемент - то це теж додало веселощів.
             Але посидівши день і покрутивши все це , я зрозуміла , як все зробити і це було круте відчуття!
            Що нового я відкрила для себе ? Гугл.
            Якщо раніше я користувалася суто матеріалами та конспектами в LMS , на цьому проєкті я навчилася гуглити.
            А також , я завжди вважала , що я не командний гравець і повинна до всього дійти сама і не чекати
             ні від кого допомоги , але цей проєкт показав , що це не соромно просити про допомогу.
             та шукати варіанти рішення проблем разом із тім - лідом та командою , яка зацікавлена в успіху нашого проєкту !
            Я дуже задоволення тим , що у нас вийшло і вважаю , що краще вже нікуди :)
            Навіть із браком часу та перебоями зі світлом - у нас все вийшло !
            Це робота , яку не соромно показувати і казати: оце МИ зробили !
            P.S:окрема вдячність нашому Team- Lead</span
          >
        </p>
        <p class="dev-slider-name">Polina Faustova</p>
      </div>
      <div class="dev-slider-list">
        <p class="dev-slider-text">
          <span class="dev-slider-text-box"
            >Робив секцію слайдер відгуків. Оскільки до цього зі слайдерами не стикався,
             то довелось багато гуглити та передивитись не одну годину відео на ютубі.
             Із отриманої інформації дізнався що зараз дуже рідко пишуть кастомні слайдери,
             а в основному користуються бібліотеками.
            Тому вирішив підключити бібліотеку slick. Особливих труднощів не виникло, але отримав цікавий досвід.</span
          >
        </p>
        <p class="dev-slider-name">Vitaliy Ovsiienko</p>
      </div>
      <div class="dev-slider-list">
        <p class="dev-slider-text">
          <span class="dev-slider-text-box"
            >Делал Contacts кнопки и два модальных окна Locations и Franchise.
            Никаких трудностей не возникло, так как входе обучения мы это проходили:
            делали кнопки и подключали JS для открытия/закрытия модального окна.
            Интересно было получить опыт командной работы. Возможно здесь возникали некоторые трудности,
            но входе выполнения поставленной задачи во всем разобрался!
            Отдельную благодарность хочу выразить нашему тимлиду за то, что всегда был на связи и помогал!</span
          >
        </p>
        <p class="dev-slider-name">Bogdan Nasypaiko</p>
      </div>
      <div class="dev-slider-list">
        <p class="dev-slider-text">
          <span class="dev-slider-text-box"
            >Привіт, я Header). Що було важко насправді, так це здолати GitHub.
            А взагалі, без дзвінка другу, я б не впоралась. Я за те, щоб на виконання проекту відводилось більше часу,
            бо в кожного свій досвід, а підводити команду- мабуть найнеприємніше відчуття. Що я зрозуміла за проект,
             так це те, що це безмежно захоплює, проте треба вчитися, вчитися і ще раз вчитися i це щастя,
              коли є до кого звернутися.
            P.s дякую, Team leader)</span
          >
        </p>
        <p class="dev-slider-name">Olena Kurbatova</p>
      </div>
      <div class="dev-slider-list">
        <p class="dev-slider-text">
          <span class="dev-slider-text-box"
            >Всім привіт. Працювала над секцією "Герой".
             З розміткою проблем не було, оскільки доступно подані лекції і дуже хороші були викладачі з практичних занять.
              З стилізацією проблеми були, а саме з розташуванням елементів секції та позиціонуванням зображень.
              Велика подяка команді і особисто нашому тімліду
              яка була на зв'язку 24/7 і допомагала у вирішенні проблем, які виникали.</span
          >
        </p>
        <p class="dev-slider-name">Nata Lashko</p>
      </div>
      <div class="dev-slider-list">
        <p class="dev-slider-text">
          <span class="dev-slider-text-box"
            >Привіт, я HOW IT’S MADE.
            Моя секція складається з заголовка, декоративного зображення абсолютно позиціонованим,
            текстом та модалки.
            Складністю було спозиціонувати декоративне зображення та зробити жовтий фон над ним.
             Також виникли деякі питання з приводу js для модального вікна, не хотіло відкриватись,
             але згодом все вирішилось ( просто необхідно було почекати 1 день і переписати все заново).
            Головне відкриття -  це робота з командою. Це було дивовижно, команда супер, тім ліду окремий поклін.
            Також зʼявились навики як правильно гуглити, навіть не уявляв скільки корисної інформації можна знайти.
            З цими знаннями які є вийшов дуже гарний сайт, краще він стане, тільки після курсу по JS.
            Якщо було б стабільне електропостачання, то виконати завдання можна за годину, максимум 2 – 3 години.
            P.S. Вдячний тім ліду, ви хоч спите ? </span
          >
        </p>
        <p class="dev-slider-name">Kyrylo Kutovyi</p>
      </div>
      <div class="dev-slider-list">
        <p class="dev-slider-text">
          <span class="dev-slider-text-box"
            >Працював над секцією Advantages. Нічого надважкого в цій секції не було,
             але все таки зіткнувся з такою проблемою, як постійне вимкнення світла.
             Також треба було посидіти подумати над тим, як вставити зображення за допомогою псевдо-елементів.
            Дізнався і впевнився в тому, що успіх командної роботи залежить від
            крутої роботи тім-ліда, благо в нас такий є.
            В цілому, працювати в команді буде краще, ніж самому.</span
          >
        </p>
        <p class="dev-slider-name">Andrii Prysiazhnyi</p>
      </div>
      <div class="dev-slider-list">
        <p class="dev-slider-text">
          <span class="dev-slider-text-box"
            >Працювала над секцію Contacts. Секція не важка, але переконалася що потрібно ще краще вчити та слухати лекції.
             Без тім-ліда як без рук. Вона в нас найкраща, як і команда. Дуже дякую</span
          >
        </p>
        <p class="dev-slider-name">Daria</p>
      </div>
      <div class="dev-slider-list">
        <p class="dev-slider-text">
          <span class="dev-slider-text-box"
            >Работал над секцией футер. Секция одна из лёгких , благодаря лучшему тимлиду сделал все как нужно даже
            имея проблемы с светом :)  Из нового понял что нужно ещё просмотреть материалы разные и на джавасерипте и
            ноде будущем ещё больше поработать и вникать лучше в темы , слушать лекции внимательно и делать задания
            все на лмс платформе ушло 2-3 дня примерно хоть думал займет неделю )</span
          >
        </p>
        <p class="dev-slider-name">Vadym Bevz</p>
      </div>
      <div class="dev-slider-list">
        <p class="dev-slider-text">
          <span class="dev-slider-text-box"
            >У меня были модальные окна в produkt, но проблем не было. Они возникли только потом у тимлида на моб версии, и решала их уже Яна)</span
          >
        </p>
        <p class="dev-slider-name">Danyil Shevelenko</p>
      </div>
      <div class="dev-slider-list">
        <p class="dev-slider-text">
          <span class="dev-slider-text-box"
            >Работала над секцией Gallery. Анимировала цифры чтоб они по очереди выезжали. И рискнула сделать презенташку.
            Я в восторге от работы с анимацией и нашего тим лида.</span
          >
        </p>
        <p class="dev-slider-name">Iryna Yurieva</p>
      </div>
    </div>
  </div>
</section>
