<header id="dev-header" class="develop-header">
  <section class="section dev-header">
    <div class="container dev-header-container">
      <!-- Header nav -->
      <div class="dev-header-nav-wrap">
        <a class="dev-header-logo" href="./images/na-fronte.png"
          ><span class="dev-heder-logo-na">na</span>Fronte</a
        >
        <nav id="nav" class="dev-header-nav">
          <ul class="dev-header-nav-list">
            <li class="dev-header-nav-item"><a  href="#dev-header" class="dev-header-nav-link">Home</a></li>
            <li class="dev-header-nav-item"><a href="#dev-photo" class="dev-header-nav-link">Team</a></li>
            <li class="dev-header-nav-item"><a  href="#dev-user" class="dev-header-nav-link">User</a></li>
            <li class="dev-header-nav-item"><a href="#dev-stack"  class="dev-header-nav-link">Stack</a></li>
            <li class="dev-header-nav-item"><a href="#dev-review" class="dev-header-nav-link">Our impressions</a></li>
          </ul>
        </nav>
      </div>
      <div class="dev-header-row">
        <div class="dev-header-content" data-aos="fade-up">
          <h1 class="dev-header-heading">
            <br /><span>The best of developer's team</span>
          </h1>
          <p>
            Creation of adaptive responsive websites on html css js stack Our
            motto - You can always do better
          </p>
        </div>

        <div class="dev-header-img" data-aos="fade-left">
          <picture>
            <source
              media="(max-width: 799px)"
              srcset="./images/dev/build.webp"
            />
            <img src="./images/dev/build.webp" alt="" />
          </picture>
        </div>
      </div>
    </div>
  </section>
</header>
