<section class="section dev-stack">
  <div class="container dev-stack-container">
    <h1 class="dev-stack-title">Technology stack</h1>
    <div class="dev-stack-block_img">
      <div class="dev-stack-img_box box1">
        <img src="./images/dev/slick.png" alt="slick" />
      </div>
      <div class="dev-stack-img_box box2">
        <img src="./images/dev/sass.jpg" alt="sass" />
      </div>
      <div class="dev-stack-img_box box3">
        <img src="./images/dev/github.png" alt="github" />
      </div>
      <div class="dev-stack-img_box box4">
        <img src="./images/dev/figma.png" alt="figma" />
      </div>
      <div class="dev-stack-img_box box5">
        <img src="./images/dev/html5.png" alt="html5" />
      </div>
      <div class="dev-stack-img_box box6">
        <img src="./images/dev/css3.png" alt="css" />
      </div>
      <div class="dev-stack-img_box box7">
        <img src="./images/dev/js.jpeg" alt="js" />
      </div>
      <div class="dev-stack-img_box box8">
        <img src="./images/dev/vscode.jpg" alt="vscode" />
      </div>
    </div>
  </div>
</section>
