<section class="section user-section">
  <div class="container dev-user-container">
    <div class="dev-user-point">
      <h1 class="dev-user-title">Який він - наш кліент?</h1>
      <ul class="dev-user-list">
        <li class="dev-user-item">Власник бізнесу</li>
        <li class="dev-user-item">Уважний батько</li>
        <li class="dev-user-item">Щасливий студент</li>
        <li class="dev-user-item">Турботлива мати</li>
      </ul>
    </div>
    <div class="dev-user-collage">
      <img
      class="dev-user-image"
      src="./images/dev/collage.jpg"
      alt=" Фото участника команды"
    />
    </div>
  </div>
</section>
