<footer class="footer-main">
  <div class="container footer-company-info">
    <div class="slogan-container">
      <p class="footer-title">
        Homemade ice cream made
        <span class="footer-title-span">with passion</span>
      </p>
    </div>
    <div class="ftr-contacts">
      <ul class="footer-social-list list">
        <li class="footer-social-item">
          <a
            class="footer-social-link"
            href="https://github.com"
            target="_blank"
            aria-label="Join us on GitHub"
          >
            <svg width="20" height="20" class="footer-social-icon">
              <use href="./images/icons.svg#icon-github"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-item">
          <a
            class="footer-social-link"
            href="https://web.telegram.org"
            target="_blank"
            aria-label="Join us in Telegram"
          >
            <svg width="20.4" height="15.87" class="footer-social-icon">
              <use href="./images/icons.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-item">
          <a
            class="footer-social-link"
            href="https://m.facebook.com"
            target="_blank"
            aria-label="Join us on Facebook"
          >
            <svg width="9.35" height="20.4" class="footer-social-icon">
              <use href="./images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
      <p class="footer-contact-tel">
        Feel free to contact
        <span class="footer-tel-span">
          <a class="footer-tel-number" href="tel:+61(0)383766284"
            >+61 (0) 383 766 284</a
          >
        </span>
      </p>
    </div>
  </div>
  <div class="footer-copyright">
    <p class="footer-rights">
      &#169; 2022 - IceCream. All&nbsp;Rights&nbsp;Reserved.
    </p>
  </div>
</footer>
<a
  href="javascript:void(0)"
  id="backToTop"
  class="back-to-top"
  style="display: none"
>
  <svg class="icon__arrow-up" width="12" height="12">
    <use href="./images/icons.svg#icon-arrow-right-btn"></use>
  </svg>
</a>
