<footer class="footer-main">
  <div class="container footer-company-info">
    <div class="slogan-container">
      <p class="footer-title">
        Homemade ice cream made
        <span class="footer-title-span">with passion</span>
      </p>
    </div>
    <div class="contacts">
      <ul class="footer-social-list list">
        <li class="footer-social-item">
          <a
            class="footer-social-link"
            href="https://github.com"
            target="_blank"
          >
            <svg width="20" height="20">
              <use href="./images/icons.svg#icon-github"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-item">
          <a
            class="footer-social-link"
            href="https://web.telegram.org"
            target="_blank"
          >
            <svg width="20.4" height="15.87">
              <use href="./images/icons.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-item">
          <a
            class="footer-social-link"
            href="https://m.facebook.com"
            target="_blank"
          >
            <svg width="9.35" height="20.4">
              <use href="./images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
      <p class="footer-contact-tel">
        Feel free to contact
        <span class="footer-tel-span">
          <a class="footer-tel-number" href="tel:+61(0)383766284"
            >+61 (0) 383 766 284</a
          >
        </span>
      </p>
    </div>
  </div>
  <div class="footer-copyright">
    <p class="footer-rights">
      &#169; 2022 - IceCream. All&nbsp;Rights&nbsp;Reserved.
    </p>
  </div>
</footer>