<footer class="footer-main">
<p class="footer-title">HOMEMADE ICE CREAM MADE</p>
<span class="footer-span-title">WITH PASSION</span>
<ul class="footer-social-links list">
<li class="footer-social-site">
    <a class="footer-social-symbol" href="https://github.com">
        <svg width="34" height="34">
          <use href="./images/icons.svg#icon-github"></use>
        </svg>
      </a>
</li>

<li class="footer-social-site">
    <a class="footer-social-symbol" href="https://web.telegram.org">
        <svg width="34" height="34">
          <use href="./images/icons.svg#icon-telegram"></use>
        </svg>
      </a>
</li>

<li class="footer-social-site">
    <a class="footer-social-symbol" href="https://m.facebook.com">
        <svg width="34" height="34">
          <use href="./images/icons.svg#icon-facebook"></use>
        </svg>
      </a>
</li>

</ul>

<div class="footer-connect">
<p class="footer-mobile-text">Feel free to contact <span class="footer-mobile"><a class="footer-number" href="tel:+61(0)383766284">+61 (0) 383 766 284</a></span></p>
</div>

<div class="footer-line">
<p class="footer-rights"> &#169; 2022 - IceCream. <br> All Rights Reserved.</p>
</div>
</footer>