<section class="section gallery">
  <div class="container gallery-container">
    <ul class="gallery-list">
      <li class="gallery-item">
        <picture>
          <source
            srcset="
              ./images/gallery/gallery-first-des-1x.jpg 1x,
              ./images/gallery/gallery-first-des-2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/gallery-first-tab-1x.jpg 1x,
              ./images/gallery/gallery-first-tab-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/gallery-first-mob-1x.jpg 1x,
              ./images/gallery/gallery-first-mob-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./images/gallery/gallery-first-des-2x.jpg"
            class="gallery-img first-img"
            width="1013"
            alt="first ice cream image"
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            srcset="
              ./images/gallery/gallery-second-des-1x.jpg 1x,
              ./images/gallery/gallery-second-des-2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/gallery-second-tab-1x.jpg 1x,
              ./images/gallery/gallery-second-tab-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/gallery-second-mob-1x.jpg 1x,
              ./images/gallery/gallery-second-mob-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./images/gallery/gallery-second-des-2x.jpg"
            class="gallery-img second-img"
            width="1013"
            alt="second ice cream image"
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            srcset="
              ./images/gallery/gallery-third-des-1x.jpg 1x,
              ./images/gallery/gallery-third-des-2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/gallery-third-tab-1x.jpg 1x,
              ./images/gallery/gallery-third-tab-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/gallery-third-mob-1x.jpg 1x,
              ./images/gallery/gallery-third-mob-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./images/gallery/gallery-third-des-2x.jpg"
            class="gallery-img third-img"
            width="1013"
            alt="third ice cream image"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
