<section class="hero section">
  <div class="container container-hero">
    <h1 class="hero-title">
      ice cream
      <span class="hero-title-1">made with</span>
      <span class="hero-title-2">passion</span>
    </h1>
    <ul class="hero-list-link">
      <li class="hero-link">
        <a class="link hero-link-first" href="#">Products</a>
      </li>
      <li class="hero-link">
        <a class="link hero-link-second" href="#">How it’s made?</a>
        <!-- <button class="btn hero-btn-second" type="button">How it’s made?</button> -->
      </li>
    </ul>
    <picture>
      <!-- <source media="(min-width: )" srcset=""> -->
    </picture>
    <div class="hero-pictures">
      <img
        class="hero-pict-points"
        src="./images/hero/yellow-dots-mobile.png"
        alt="points"
        width="320"
      />
      <img
        class="hero-pict-ice-cream"
        src="./images/hero/smiling-ice-cream-mobile.png"
        alt="ice cream"
        width="177"
      />
      <img
        class="hero-pict-ice-creams"
        src="./images/hero/ice-cream-on-plate-tablet.png"
        width="177"
      />
    </div>
    <p class="hero-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et
    </p>

    <ul class="hero-statistics-list">
      <li class="hero-item-stat">
        <p class="hero-quantity">16</p>
        <p class="title-stat">cafes</p>
      </li>
      <li class="hero-item-stat">
        <p class="hero-quantity">23</p>
        <p class="title-stat">food trucks</p>
      </li>
    </ul>
  </div>
</section>
