<section id="how-its-made" class="about">
  <div class="container">
    <p class="about-uptitle to-anim3">tradition and love</p>
    <h2 class="about-title to-anim4">How it’s made?</h2>
    <div class="about-box">
      <div class="about-decorative-circle">
        <div class="about-decorative-img"></div>
      </div>
      <div class="about-wrap">
        <p class="about-text about-text-first">
          Ice is a place where you will become not only a little happier, but
          also healthier. Health is the main value for us, and we follow it when
          creating our handmade desserts.
        </p>

        <p class="about-text about-text-second">
          We use traditional recipes and 100% natural ingredients. Our products
          are so natural that they can be given to children from the age of
          three years. Sweets lovers can expect 55 types of ice cream, 15 types
          of coffee and 23 milkshakes.
        </p>

        <p class="about-text about-text-last">
          This is enough to choose ice cream and coffee for any mood!
        </p>

        <button
          type="button"
          class="about-button-open button"
          data-how-made-open
        >
          Read more
          <svg class="about-icon" width="12" height="12">
            <use href="./images/icons.svg#icon-arrow-right-btn"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
