<section id="products" class="section-products">
  <div class="container products">
    <p class="products-label to-anim1">100% natural</p>
    <h2 class="products-title to-anim2">Products</h2>

    <ul class="products-cards">
      <li class="products-wrapper icecream">
        <div class="products-circle circle-icecream"></div>
        <div class="products-short-descr">
          <h3 class="products-cards-title">Ice cream</h3>
          <p class="products-cards-about">
            Soft ice cream with a delicate taste. Made with milk, cream, sugar
            and natural stabilizer
          </p>
          <button
            aria-label="Learn more about Ice cream"
            type="button"
            class="products-button modal-button-open"
            data-icecream-open
          >
            <svg class="products-modal-open" width="40" height="16">
              <use href="./images/icons.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="products-wrapper coffee">
        <div class="products-circle circle-coffee"></div>
        <div class="products-short-descr">
          <h3 class="products-cards-title">Ice coffee</h3>
          <p class="products-cards-about">
            Fragrant invigorating drink created from 100% natural ingredients
            without the use of preservatives and flavor enhancers
          </p>
          <button
            aria-label="Learn more about Ice coffee"
            type="button"
            class="products-button modal-button-open"
            data-icecoffee-open
          >
            <svg class="products-modal-open" width="40" height="16">
              <use href="./images/icons.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="products-wrapper milkshakes">
        <div class="products-circle circle-milkshakes"></div>
        <div class="products-short-descr">
          <h3 class="products-cards-title">Milkshakes</h3>
          <p class="products-cards-about">
            Sweet drinks based on milk and ice cream, supplemented with syrups,
            fruits, berries and other sweets of your choice
          </p>
          <button
            aria-label="Learn more about Milkshakes"
            type="button"
            class="products-button modal-button-open"
            data-milkshake-open
          >
            <svg class="products-modal-open" width="40" height="16">
              <use href="./images/icons.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
