<div class="products-backdrop">
  <div class="products-modal">
    <button type="button" class="products-modal-close">
      <svg>
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="products-modal-title">Chololate icecream</h2>
    <div class="icon-wrap">
      <div class="products-modal-icon"></div>
    </div>
    <ul class="products-list list">
      <li class="products-link">
        <p class="products-number">320</p>
        <div class="products-text">ckal</div>
      </li>
      <li class="products-link">
        <p class="products-number">4g</p>
        <div class="products-text">Protein</div>
      </li>
      <li class="products-link">
        <p class="products-number">8,2g</p>
        <div class="products-text">Fats</div>
      </li>
      <li class="products-link">
        <p class="products-number">40,4g</p>
        <div class="products-text">Carbs</div>
      </li>
    </ul>
    <section class="products-modal-section">
      <h3 class="modal-section-title">Ingredients</h3>
      <ul class="list modal-section-list">
        <li class="modal-section-link">
          Milk
          <div>100ml</div>
        </li>
        <li class="modal-section-link">
          Belgian chocolate
          <div>20g</div>
        </li>
        <li class="modal-section-link">
          Cream
          <div>150ml</div>
        </li>
        <li class="modal-section-link">
          Cocoa powder
          <div>30g</div>
        </li>
        <li class="modal-section-link">
          Sugar
          <div>40g</div>
        </li>
        <li class="modal-section-link">
          Vanilla sugar
          <div>10g</div>
        </li>
      </ul>
    </section>
    <form class="modal-form">
      <div class="input-wrap">
        <input
          type="text"
          name="uzer-name"
          class="modal-input"
          id="uzer-name"
          placeholder="Name"
        />
      </div>
      <div class="input-wrap">
        <input
          type="tel"
          name="uzer-tel"
          class="modal-input"
          id="uzer-tel"
          placeholder="Phone"
        />
      </div>
      <textarea
        name="uzer-text"
        id="uzer-text"
        class="modal-comment"
        placeholder="Comment"
      ></textarea>
      <button type="submit" class="modal-btn">Submit</button>
    </form>
  </div>
</div>
