<div class="products-backdrop">
  <div class="products-modal">
    <button type="button" class="products-modal-close">
      <svg width="12px" height="12px">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="products-modal-title">Chololate icecream</h2>
    <ul class="products-list list">
      <li class="products-link">
        <p class="products-number">320</p>
        <div class="products-text">ckal</div>
      </li>
      <li class="products-link">
        <p class="products-number">4g</p>
        <div class="products-text">Protein</div>
      </li>
      <li class="products-link">
        <p class="products-number">8,2g</p>
        <div class="products-text">Fats</div>
      </li>
      <li class="products-link">
        <p class="products-number">40,4g</p>
        <div class="products-text">Carbs</div>
      </li>
    </ul>
  </div>
</div>
