<section>
<div class="container products">
<label class="products-label">100% natural</label>
<h2 class="products-title">products</h2>
<ul class="products-kards">
<li class="products-wrapper">
  <h3 class="products-kards-title">ice cream</h3>
  <p class="products-kards-about">Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural stabilizer</p>
  <button type="button" class="products-button">
  <svg class="products-modalka-open" width="40" height="16">
  <use href="./images/icons.svg#icon-arrow-right"></use>
  </svg>
  </button>
</li>
<li class="products-wrapper cofee">
  <h3 class="products-kards-title">ice coffee</h3>
  <p>Fragrant invigorating drink created from 100% natural ingredients without the use of preservatives and flavor enhancers</p>
  <button type="button" class="products-button">
    <svg class="products-modalka-open" width="40" height="16">
    <use href="./images/icons.svg#icon-arrow-right"></use>
    </svg>
    </button>
</li>
<li class="products-wrapper milkshakes">
  <h3 class="products-kards-title">milkshakes</h3>
  <p>Sweet drinks based on milk and ice cream, supplemented with syrups, fruits, berries and other sweets of your choice
  </p>
  <button type="button" class="products-button">
    <svg class="products-modalka-open" width="40" height="16">
    <use href="./images/icons.svg#icon-arrow-right"></use>
    </svg>
    </button>
</li>
</ul>
</div>
</section>
